[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
fastapi = "*"
pydantic = "*"
aiohttp = "*"
dictdiffer = "*"
uvicorn = "*"
objprint = "*"

[dev-packages]
objprint = "*"
httpx = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"
